<!DOCTYPE html>
<html lang="en" class="<%= darkMode ? 'dark' : '' %>">
<head>
  <%- include('partials/head') %>
</head>
<body class="bg-gray-50 dark:bg-neutral-800 text-gray-700 dark:text-gray-200 text-sm">
	<main class="w-full flex flex-col">
		<div id="pos-nav" class="h-8 font-semibold px-2 w-full flex gap-2 items-center overflow-x-auto text-gray-600 dark:text-gray-300">
			<%- include('partials/pos-menu') %>
		</div>
		<div class="bg-white dark:bg-neutral-900 p-3 w-full h-[calc(100vh-32px)] overflow-y-auto">
			
			<div class="flex justify-between items-center gap-4 mb-2">
				<form method="GET" action="/pos/customer" class="flex items-center w-full max-w-sm">
					<input type="text" name="q" value="<%= query %>" placeholder="Search ..." class="px-4 py-2 rounded-l bg-white dark:bg-neutral-900 border-l border-t border-b border-gray-200 dark:border-neutral-700 focus:outline-none focus:border-green-400 dark:focus:border-green-800" />
					<button type="submit" class="px-2 py-2 flex items-center justify-center rounded-r border-r border-t border-b border-gray-200 dark:border-neutral-700 text-white bg-green-500 hover:bg-green-600 dark:bg-green-700 dark:hover:bg-green-600 text-white hover:scale-105 hover:duration-300 transition-all">
						<svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
						  <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
						</svg>
					</button>
				</form>
				<div>
					<button type="button" id="AddCustomerButton" class="flex items-center gap-2 px-2 py-2 rounded bg-green-500 hover:bg-green-600 dark:bg-green-700 dark:hover:bg-green-600 text-white hover:scale-105 hover:duration-300 transition-all">
						<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-width="1.5"><path d="M2 12c0-4.714 0-7.071 1.464-8.536C4.93 2 7.286 2 12 2s7.071 0 8.535 1.464C22 4.93 22 7.286 22 12s0 7.071-1.465 8.535C19.072 22 16.714 22 12 22s-7.071 0-8.536-1.465C2 19.072 2 16.714 2 12Z"/><path stroke-linecap="round" d="M15 12h-3m0 0H9m3 0V9m0 3v3"/></g></svg>
						Customer
					</button>
				</div>
			</div>
			
			<table class="w-full max-w-full bg-white dark:bg-neutral-900">
				<thead class="bg-green-500 dark:bg-green-700 text-white">
					<tr>
						<th class="text-left px-4 py-2">Customer</th>
						<th class="text-left px-4 py-2">Phone</th>
						<th class="text-left px-4 py-2">City</th>
						<th class="text-center px-4 py-2">Actions</th>
					</tr>
				</thead>
				<tbody>
					<% if (customers.length === 0) { %>
						<tr>
							<td colspan="4" class="text-center border-b py-2 px-4 border-gray-200 dark:border-neutral-700">No customer available.</td>
						</tr>
					<% } else { %>
					<% customers.forEach(customer => { %>
					<tr class="border-b border-gray-200 dark:border-neutral-700">
						<td class="text-left px-4 py-2 w-full">
							<div class="overflow-hidden line-clamp-1">
								<%= customer.name %>
							</div>
						</td>
						<td class="text-left px-4 py-2 whitespace-nowrap">
							<%= customer.phone %>
						</td>
						<td class="text-left px-4 py-2 whitespace-nowrap">
							<%= customer.city %>
						</td>
						<td class="text-center px-4 py-2">
							<div class="flex items-center justify-center gap-1">
								<button id="EditCustomerButton" type="button" data-id="<%= customer.id %>" data-name="<%= customer.name %>" data-phone="<%= customer.phone %>" data-city="<%= customer.city %>" data-state="<%= customer.state %>" data-codepos="<%= customer.code_pos %>" data-address="<%= customer.address %>" class="EditCustomerButton text-amber-500 p-1 rounded hover:bg-gray-100 dark:hover:bg-gray-700">
									<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="currentColor" d="M20.849 8.713a3.932 3.932 0 0 0-5.562-5.561l-.887.887l.038.111a8.75 8.75 0 0 0 2.093 3.32a8.75 8.75 0 0 0 3.43 2.13z" opacity="0.5"/><path fill="currentColor" d="m14.439 4l-.039.038l.038.112a8.75 8.75 0 0 0 2.093 3.32a8.75 8.75 0 0 0 3.43 2.13l-8.56 8.56c-.578.577-.867.866-1.185 1.114a6.6 6.6 0 0 1-1.211.748c-.364.174-.751.303-1.526.561l-4.083 1.361a1.06 1.06 0 0 1-1.342-1.341l1.362-4.084c.258-.774.387-1.161.56-1.525q.309-.646.749-1.212c.248-.318.537-.606 1.114-1.183z"/></svg>
								</button>
								<form action="/pos/customer/delete" method="POST" onsubmit="return confirm('Are you sure you want to delete this data?');">
									<input type="hidden" name="id" value="<%= customer.id %>" />
									<button type="submit" class="text-rose-500 p-1 rounded hover:bg-gray-100 dark:hover:bg-gray-700">
										<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="currentColor" d="M2.75 6.167c0-.46.345-.834.771-.834h2.665c.529-.015.996-.378 1.176-.916l.03-.095l.115-.372c.07-.228.131-.427.217-.605c.338-.702.964-1.189 1.687-1.314c.184-.031.377-.031.6-.031h3.478c.223 0 .417 0 .6.031c.723.125 1.35.612 1.687 1.314c.086.178.147.377.217.605l.115.372l.03.095c.18.538.74.902 1.27.916h2.57c.427 0 .772.373.772.834S20.405 7 19.979 7H3.52c-.426 0-.771-.373-.771-.833"/><path fill="currentColor" d="M11.607 22h.787c2.707 0 4.06 0 4.941-.863c.88-.864.97-2.28 1.15-5.111l.26-4.081c.098-1.537.147-2.305-.295-2.792s-1.187-.487-2.679-.487H8.23c-1.491 0-2.237 0-2.679.487s-.392 1.255-.295 2.792l.26 4.08c.18 2.833.27 4.248 1.15 5.112S8.9 22 11.607 22" opacity="0.5"/></svg>
									</button>
								</form>
							</div>
						</td>
					</tr>
					<% }) %>
					<% } %>
				</tbody>
			</table>
			
			<div class="flex gap-2 items-center justify-center mt-2">
				<% if (currentPage > 1) { %>
					<a href="/pos/customer?q=<%= encodeURIComponent(query) %>&page=<%= currentPage - 1 %>" class="flex items-center justify-center p-1 rounded bg-green-500 dark:bg-green-700 hover:bg-green-600 dark:hover:bg-green-600 text-white" >
						<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
							<path d="m15 5-6 7 6 7"/>
						</svg>
					</a>
				<% } else { %>
				<% } %>

				<% if (currentPage < totalPages) { %>
					<a href="/pos/customer?q=<%= encodeURIComponent(query) %>&page=<%= currentPage + 1 %>" class="flex items-center justify-center p-1 rounded bg-green-500 dark:bg-green-700 hover:bg-green-600 dark:hover:bg-green-600 text-white" >
						<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
							<path d="m9 5 6 7-6 7"/>
						</svg>
					</a>
				<% } else { %>
				<% } %>
			</div>
			
		</div>
	</main>
	
	<div id="AddCustomerModal" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50 hidden">
		<form action="/pos/customer/add" method="POST" class="bg-white dark:bg-neutral-800 rounded w-full max-w-md shadow-lg">
			<div class="px-4 py-2 bg-green-500 rounded-t dark:bg-green-700">
				<h2 class="text-xl font-semibold text-white">Add New Customer</h2>
			</div>
			<div class="p-4 flex flex-col gap-4">
				<div class="flex flex-col gap-1">
					<label>
						Customer Name
					</label>
					<input name="name" required type="text" placeholder="Enter customer name..." class="w-full px-4 py-2 rounded bg-white dark:bg-neutral-900 border border-gray-200 dark:border-neutral-700 focus:outline-none focus:border-green-400 dark:focus:border-green-800"/>
				</div>
				<div class="flex flex-col gap-1">
					<label>
						Phone
					</label>
					<input name="phone" required type="number" placeholder="Enter customer name..." class="w-full px-4 py-2 rounded bg-white dark:bg-neutral-900 border border-gray-200 dark:border-neutral-700 focus:outline-none focus:border-green-400 dark:focus:border-green-800"/>
				</div>
				<div class="flex flex-col gap-1">
					<label>
						Address
					</label>
					<textarea name="address" required placeholder="Enter address..." class="w-full px-4 py-2 rounded bg-white dark:bg-neutral-900 border border-gray-200 dark:border-neutral-700 focus:outline-none focus:border-green-400 dark:focus:border-green-800"></textarea>
				</div>
				<div class="flex flex-col gap-1">
					<label>
						City
					</label>
					<input name="city" required type="text" placeholder="Enter city..." class="w-full px-4 py-2 rounded bg-white dark:bg-neutral-900 border border-gray-200 dark:border-neutral-700 focus:outline-none focus:border-green-400 dark:focus:border-green-800"/>
				</div>
				<div class="flex gap-5 items-center">
					<div class="flex flex-col gap-1">
						<label>
							State
						</label>
						<input name="state" required type="text" placeholder="Enter state..." class="w-full px-4 py-2 rounded bg-white dark:bg-neutral-900 border border-gray-200 dark:border-neutral-700 focus:outline-none focus:border-green-400 dark:focus:border-green-800"/>
					</div>
					<div class="flex flex-col gap-1">
						<label>
							Code ZIP
						</label>
						<input name="code_pos" required type="number" placeholder="Enter zip code..." class="w-full px-4 py-2 rounded bg-white dark:bg-neutral-900 border border-gray-200 dark:border-neutral-700 focus:outline-none focus:border-green-400 dark:focus:border-green-800"/>
					</div>
				</div>
				<div class="flex justify-end gap-2">
					<button type="button" id="CloseCustomerButton" class="px-4 py-2 rounded bg-rose-500 hover:bg-rose-600 dark:bg-rose-700 dark:hover:bg-rose-600 text-white hover:scale-105 hover:duration-300 transition-all">
						Cancel
					</button>
					<button type="submit" class="px-4 py-2 rounded bg-green-500 hover:bg-green-600 dark:bg-green-700 dark:hover:bg-green-600 text-white hover:scale-105 hover:duration-300 transition-all">
						Save
					</button>
				</div>
			</div>
		</form>
	</div>
	<div id="EditCustomerModal" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50 hidden">
		<form action="/pos/customer/edit" method="POST" class="bg-white dark:bg-neutral-800 rounded w-full max-w-md shadow-lg">
			<input type="hidden" name="id" />
			<div class="px-4 py-2 bg-green-500 rounded-t dark:bg-green-700">
				<h2 class="text-xl font-semibold text-white">Edit Customer</h2>
			</div>
			<div class="p-4 flex flex-col gap-4">
				<div class="flex flex-col gap-1">
					<label>
						Customer Name
					</label>
					<input name="name" required type="text" placeholder="Enter customer name..." class="w-full px-4 py-2 rounded bg-white dark:bg-neutral-900 border border-gray-200 dark:border-neutral-700 focus:outline-none focus:border-green-400 dark:focus:border-green-800"/>
				</div>
				<div class="flex flex-col gap-1">
					<label>
						Phone
					</label>
					<input name="phone" required type="number" placeholder="Enter customer name..." class="w-full px-4 py-2 rounded bg-white dark:bg-neutral-900 border border-gray-200 dark:border-neutral-700 focus:outline-none focus:border-green-400 dark:focus:border-green-800"/>
				</div>
				<div class="flex flex-col gap-1">
					<label>
						Address
					</label>
					<textarea name="address" required placeholder="Enter address..." class="w-full px-4 py-2 rounded bg-white dark:bg-neutral-900 border border-gray-200 dark:border-neutral-700 focus:outline-none focus:border-green-400 dark:focus:border-green-800"></textarea>
				</div>
				<div class="flex flex-col gap-1">
					<label>
						City
					</label>
					<input name="city" required type="text" placeholder="Enter city..." class="w-full px-4 py-2 rounded bg-white dark:bg-neutral-900 border border-gray-200 dark:border-neutral-700 focus:outline-none focus:border-green-400 dark:focus:border-green-800"/>
				</div>
				<div class="flex gap-5 items-center">
					<div class="flex flex-col gap-1">
						<label>
							State
						</label>
						<input name="state" required type="text" placeholder="Enter state..." class="w-full px-4 py-2 rounded bg-white dark:bg-neutral-900 border border-gray-200 dark:border-neutral-700 focus:outline-none focus:border-green-400 dark:focus:border-green-800"/>
					</div>
					<div class="flex flex-col gap-1">
						<label>
							Code ZIP
						</label>
						<input name="code_pos" required type="number" placeholder="Enter zip code..." class="w-full px-4 py-2 rounded bg-white dark:bg-neutral-900 border border-gray-200 dark:border-neutral-700 focus:outline-none focus:border-green-400 dark:focus:border-green-800"/>
					</div>
				</div>
				<div class="flex justify-end gap-2">
					<button type="button" id="CloseECustomerButton" class="px-4 py-2 rounded bg-rose-500 hover:bg-rose-600 dark:bg-rose-700 dark:hover:bg-rose-600 text-white hover:scale-105 hover:duration-300 transition-all">
						Cancel
					</button>
					<button type="submit" class="px-4 py-2 rounded bg-green-500 hover:bg-green-600 dark:bg-green-700 dark:hover:bg-green-600 text-white hover:scale-105 hover:duration-300 transition-all">
						Save
					</button>
				</div>
			</div>
		</form>
	</div>
	
	<% if (success_msg && success_msg.length > 0) { %>
	  <div id="flash-message" class="fixed bottom-2 right-2 text-xs px-2 py-1 rounded bg-green-500 dark:bg-green-700 text-white font-semibold shadow-lg z-50">
		<%= success_msg[0] %>
	  </div>
	<% } %>

	<% if (error_msg && error_msg.length > 0) { %>
	  <div id="flash-message" class="fixed bottom-2 right-2 text-xs px-2 py-1 rounded bg-rose-500 dark:bg-rose-700 text-white font-semibold shadow-lg z-50">
		<%= error_msg[0] %>
	  </div>
	<% } %>
	<script src="/assets/js/electronAPIPos.js"></script>
	<script>
		// Add Modal
		const AddCustomerButton = document.getElementById('AddCustomerButton');
		const CloseCustomerButton = document.getElementById('CloseCustomerButton');
		const AddCustomerModal = document.getElementById('AddCustomerModal');
		AddCustomerButton.addEventListener('click', () => AddCustomerModal.classList.remove('hidden'));
		CloseCustomerButton.addEventListener('click', () => AddCustomerModal.classList.add('hidden'));
		
		// Edit Modal
		const editButtons = document.querySelectorAll('.EditCustomerButton');
		const editModal = document.getElementById('EditCustomerModal');
		const closeBtn = document.getElementById('CloseECustomerButton');
		const form = editModal.querySelector('form');

		editButtons.forEach(button => {
			button.addEventListener('click', () => {
			  form.id.value = button.dataset.id;
			  form.name.value = button.dataset.name;
			  form.phone.value = button.dataset.phone;
			  form.address.value = button.dataset.address;
			  form.city.value = button.dataset.city;
			  form.state.value = button.dataset.state;
			  form.code_pos.value = button.dataset.codepos;

			  editModal.classList.remove('hidden');
			});
		});

		closeBtn.addEventListener('click', () => {
			editModal.classList.add('hidden');
		});
	</script>
</body>
</html>
